################################################################################
# This .gitignore file
################################################################################

/DancingGoatMvc.sln