@using Kentico.Forms.Web.Mvc

<div class="two-column-section">
    <div class="section-col-50">
        @Html.Kentico().FormZone()
    </div>
    <div class="section-col-50">
        @Html.Kentico().FormZone()
    </div>
</div>
